body {
	font-family: avenir, helvetica, sans-serif;
	background-color: #f2f2f2;
}
.container {
	max-width: 100%;
	padding: 20px;
    /* border: 2px solid red; */
    height: fit-content;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 30px;
  font-size: 50px;
  margin-bottom: 60px;
  color: rgb(8, 117, 136);
  position: relative;
}
.team-member {
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	width: 210px;
	margin-right: 10%;
    margin-left: 10%;
    align-items: center;
    
}
.team-member img {
	max-width: 100%;
	border-radius: 30%;
	margin-bottom: 15px;
}
.team-member h2 {
	font-size: 22px;
	margin-bottom: 10px;
}
.team-member p {
	font-size: 16px;
	color: #666;
}

.intro-text {
    text-align: left;
    font-family: avenir, helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 20px; 
    padding-top: 20px;
    padding-bottom: 50px; 
    color: #363636;
}