* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: avenir, helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 200vh;
  background: linear-gradient(#dffdf5, rgba(0, 0, 0, 0.5)), url();
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  border-radius: 30px;
  max-height: fit-content;
 
  border: 2 px solid white;
}

.form-box form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  height: 100%;
}

.form-box {
  width: 100%;
  max-width: 1200px;
  height: 2000px;
  max-height: 1090px;
  font-size: 20px;
  position: relative;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px 60px 70px;
  text-align: center;
  translate: translate(-50%, -50%);
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}


.container_input {
  width: 50%;
  height: 500px;
  margin-top: 30px;
  /* flex-basis: 60%; */
  /* border: 2px solid red; */
}

.chart_container {
  width: 50%;
  height: 600px;
  /* margin-top: 30%; */
  /* margin-left: 50%; */
  flex-basis: 35%;
  border: 2px solid red;
}

.chart_container canvas {
  width: 100%;
  height: 100%;
}


label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  padding: 5px;
  text-align: left;
  display: flexbox;
}


.loan_amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intrest_rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loan_term {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="number"] {
  padding: 10px;
  border: none;
  border-radius: 10px;
  /* margin-bottom: 20px; */
  width: fit-content;
  height: fit-content;
  font-size: 18px;
  background-color: #e5e4e4;
  display: flex;
  justify-content: space-between;
  text-align: center;

}


input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #08b58c;
  cursor: pointer;
  margin-top: -8px;
}

input[type="range"]::-moz-range-track {
  height: 5px;
  background: #ddd;
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: #08b58c;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  height: 5px;
  background: #ddd;
}

input[type="range"]::-ms-fill-lower {
  background: #ddd;
  border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
  background: #ddd;
  border-radius: 5px;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #08b58c;
  cursor: pointer;
}



button {
  padding: 10px;
  width: 20%;
  background-color: rgb(8, 117, 136);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 16px;
  color: #fff;
}

#result {
  margin-top: 30px;
  padding: 15px;
  text-align: center;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  font-size: 18px;
  font-weight: bold;
  /* padding: auto; */
}

h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 30px;
  font-size: 50px;
  margin-bottom: 60px;
  color: rgb(8, 117, 136);
  position: relative;
}