* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  

body {
	background-color: #F4FDF9;
}
.container {
	max-width: 100%;
	padding: 20px;
    /* border: 2px solid red; */
    height: fit-content;
    align-items: center;
    justify-content: center;
    
}

h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 20px;
  font-size: 3rem;
  margin-bottom: 60px;
  color: rgb(8, 117, 136);
  position: relative;
}
.team-member {
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	width: 210px;
	margin-right: 8%;
  margin-left: 10%;
  align-items: center;
    
}
.team-member img {
	max-width: 100%;
	border-radius: 30%;
	margin-bottom: 15px;
}
.team-member h2 {
	font-size: 22px;
	margin-bottom: 10px;
}
.team-member p {
	font-size: 16px;
	color: #666;
}

.intro-text {
    text-align: left;
    font-family: avenir, helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
    font-size: 20px;
    font-weight: bold;
    padding: 20px; 
    padding-top: 20px;
    padding-bottom: 80px; 
    width: 80%;
    color: #363636;
}