* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.form-container {
    display: flex;
    flex-direction: row;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    height: 100vh;
    /* margin-top: 3%; */
    /* width: 100%; */
    width: 80%;
    margin-left: 150px;
    margin-top: 20px;
    flex: 1;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    border: 2px solid red;
}

input[type="date"] {
    position: flex;
    width: 250px;
    height: 50px;
    left: 48px;
    top: 129px;
    background: #D9D9D9;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

input[type="number"] {
    position: flex;
    width: 250px;
    height: 50px;
    left: 48px;
    top: 129px;
    background: #D9D9D9;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

input[type="text"] {
    position: flex;
    width: 250px;
    height: 50px;
    left: 48px;
    top: 129px;
    background: #D9D9D9;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.form-col {
    flex: 1;
    margin-right: 10px;
    /* adjust as needed */
}

.form-col:last-child {
    margin-right: 0;
}


select {
    position: flex;
    width: 250px;
    height: 50px;
    left: 48px;
    top: 129px;
    background: #D9D9D9;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

select:hover,
select:focus {
    border-color: #aaa;
}

select option {
    font-size: 16px;
    padding: 10px;
    background-color: #fff;
    color: #555;
}

select option:checked {
    background-color: #007bff;
    color: #fff;
}

label {
    display: inline-block;
    width: 100px;
    /* adjust as needed */
}

input {
    display: inline-block;
    width: calc(100% - 100px); /* adjust as needed */
    margin-left: 10px; /* adjust as needed */
}



label {
    margin-top: 10px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #151516;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 250px;

}

.chart-container h2 {
    /* margin-bottom: 20px; */
    color: black;
    margin-top: 0px;
    
}

.chart-container{
    width: 50%;
    border: 2px solid red;
    JUS
}

canvas {
    max-width: 100%;
    max-height: 100%;
    margin-left: 60px;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 60px;
    color: rgb(8, 117, 136);
    position: relative;
    font-family: avenir, helvetica, sans-serif;
}

h2 {
    font-weight: bold;
    font-family: avenir, helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(4, 3, 3);
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header a {
    align-self: flex-start;
  }
  
  .header img {
    margin-right: 10%;
    border-radius: 50px;
    margin-top: 15%;
    margin-left: 60%;
  }
  
  .header h1 {
    margin: 0;
    text-align: center;
    margin-left: 8%;
    margin-right: 15%;
    margin-top: 1%;
  }

 .wallet {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2%;
  margin-right: 35px;
  background-color: #9a9491;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    width: 11%;
    height: 6%;
}
.wallet.i{
    align-self: center;
}

.wallet:hover {
  background-color: #e19aed;
}

h3{
    font-weight: bold;
    font-family: avenir, helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    position: relative;
    display: flex;
    
}

