/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: avenir,helvetica,sans-serif;  
    /* background-color: #dffdf5; */
    /* color: #393a3d; */
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    height: 75px;
    justify-content: space-around;
}
#navbar::before {
    content: "";
    position: absolute;      
    height: 100%;
    width: 100%;
    z-index: -1;
}
#logo{
    /* border: 2px solid red; */
    margin-right: 7%;
}
#logo img{
    height: 80px;
    border-radius: 50%;
    border: 1px solid white;
}
.item{    
    /* border: 2px solid red; */
    padding: 7px;
}

#navbar ul{
    display: flex; 
    justify-content: space-between;
    }

#navbar li{
    list-style: none;
    font-size: 1.2rem;    
    font-family: avenir,helvetica,sans-serif;
    display: inline-block; 
    position: relative; 
    
}
#navbar li:hover::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background: #1b8381;
    left: 50%;
    border-radius: 3px;
    transform: translate(-50%);
    bottom: -25px;
}   
#navbar a{
    color: #393a3d;  
    font-weight: 600;
    text-decoration: none;      
    padding: 25px;   
    
}
#login{
    /* border: 2px solid red; */
    display: inline;
}
.login{
    color: #393a3d;  
    font-size: 1.2rem;
    font-weight: 600;
    font-family: avenir,helvetica,sans-serif;  
    display: inline-block;
    position: relative;
}
.login:hover::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background: #1b8381;
    left: 50%;
    border-radius: 3px;
    transform: translate(-50%);
    bottom: -1px;
}

#home {
    display: flex;
    height: 600px;     
  }
#home::before {
    content: "";
    position: absolute;
    background-color: #dffdf5;
    /* border: 2px solid red; */
    /* background: url(../img/home.jpg) no-repeat center center/cover; */
    height: 80%;
    width:100%;
    z-index: -1;
    top: 76px;
    left: 0;
}
.container{
    padding: 100px 100px;
    margin: 10px 20px;
    /* border: 2px solid black; */

}
h1.primary{
    font-size: 3.2rem;
    color:#1b8381;
    font-weight: 850;
    font-family: avenir,helvetica,sans-serif;  
    padding:8px;
    margin-left: 145px;
}
h2.primary{
    font-size: 2.2rem;
    color:#1b8381;
    font-weight: 800;
    font-family: avenir,helvetica,sans-serif;  
    margin-left: 175px;
    padding: 8px;

}
p.primary{
    font-size: 1.2rem;
    color: #1b8381;
    font-weight: 500;
    font-family: avenir,helvetica,sans-serif;  
    margin-left: 180px;
    padding: 8px;
}


#about{
    display: flex;
    /* flex-direction: column; */
    /* border: 2px solid green; */
    height: 70%;
    width: 100%;
    background-color:#dffdf5;
   
}
#about img{
    height: 300px;
    width: auto;
    border: 2px solid white;
    float: right;
    justify-content: center;
    
}
#about h1{
    text-align: center;
    justify-content: center;
    font-size: 2.2rem;
    color:#393a3d;
    font-weight: 900;
    padding: 20px 15px;
    font-family: avenir,helvetica,sans-serif;  
}
#about p{
    font-size: 1.2rem;
    color:#393a3d;
    font-weight: 450;
    font-family: avenir,helvetica,sans-serif;
    margin-left: 125px;
    margin-right: 125px;
    padding: 10px;

}
.box .btn{    
    padding: 10px 110px;
    margin: 40px 395px;
    font-family: avenir,helvetica,sans-serif;  
    font-weight: 700;
    border-radius: 10px;
    background: #1b8381;
    color: white;
    border: 2px solid #1b8381 ;
    
}

.box .btn:hover{
    background-color:#0d5755 ;
    color: white;
    border: 2px solid #1b8381;
    border-radius: 10px; 
    transition: 1s;
}
