* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  #container{
    display: flex;
    border: 2px solid red;
    width: 100%;
    height: 120%;
    background-color:#e0ecff;
    padding: 20px 20px 20px 20px;
  }
  #image{
    /* border: 2px solid  blueviolet; */
    width: 40%;
    background-color: #e0ecff;
  }
  .img{
    width: 80%;
    height: 80%;
    /* border: 2px solid green; */
    margin: 50px;
  }
  #content-container{
    width: 70%;
  }
  /* Heading styles */
  
  h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 35px;
    color: #333;
    text-shadow: 2px 2px #fff;
  }
  
  input[type="number"] {
    /* border: 2px solid green; */
    width: 80%;
    display:block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Button styles */
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
    height: fit-content;
  }
  
  button:hover {
    background-color: #0062cc;
  }
  
  /* Container styles */

  
#budget-container {
    background-color: #e0ecff;
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    /* justify-content: left; */
    /* align-items: center; */
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: fit-content;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 10px 10px;
    margin-top: 20%;
  }
  
  #income-container label {
    margin-right: 10px;
    margin-left: 5%;
  }
  
  #income-container select {
    margin-left: 10px;
  }
  
  /* Select styles */
  
  select {
    width: 50%;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    appearance: none;
  }
  
  select:hover,
  select:focus {
    border-color: #aaa;
  }
  
  select option {
    font-size: 16px;
    padding: 10px;
    background-color: #fff;
    color: #555;
  }
  
  select option:checked {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Label styles */
  
  label {
    /* display: block; */
    /* border: 2px solid red; */
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }